{% extends 'base.html' %}
{% load static %}
  
{% block content %}
<section style="background-color: #eee;">
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              {% if trainer.image %}
              <img src="{{ trainer.image.url }}" alt="avatar"
              class="square-image img-fluid" style="width: 150px;">
              {% else %} 
              <img src="{% static 'profile.png' %}" alt="avatar"
              class="square-image img-fluid" style="width: 150px;">
              {% endif %}
             
              <h5 class="my-3">{{trainer.user.first_name}} {{trainer.user.last_name}}</h5>
              <p class="text-muted mb-1">{{trainer.user.email}}</p>
              <div class="d-flex justify-content-center mb-2">
                <a href="{% url 'userprofileedit' %}" class="btn btn-primary">
                  <i class="fas fa-edit"></i>
                    Edit
                </a>
              </div>
            </div>
          </div>
      
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{trainer.user.first_name}} {{trainer.user.last_name}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{trainer.user.email}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Birthday</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{trainer.get_formated_bithday}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mobile</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{trainer.mobile}}</p>
                </div>
              </div>
            
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </section>
{% endblock content %}